<h1>注册新用户</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
    <%= f.label :name, "用户名：" %><br />
    <%= f.text_field :name %>
	</div>
	<div class="field">
    <%= f.label :email, "邮箱：" %><br />
    <%= f.text_field :email %>
	</div>
	<div class="field">
    <%= f.label :password, "密码：" %><br />
    <%= f.password_field :password %>
	</div>
	<div class="field">
    <%= f.label :password_confirmation, "确认密码：" %><br />
    <%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
    <%= f.submit "注册" %>
  </div>
<% end %>
