
<% if @feed_items_parent != feed_item.parent %>
	<% if @feed_items_parent != 0 %><tr></tr><% end %>
	<% if @feed_items_color == 0  %>
		<% @feed_items_color = 1 %>
	<% else %>
		<% @feed_items_color = 0 %>
	<% end %>
	<% @feed_items_parent = feed_item.parent %>
<% end %>

<tr >
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<% if feed_item.schedual.strftime('%Y%m%d').to_i > Time.now.strftime('%Y%m%d').to_i %>
		<p style="color:green"><b>招募中!</b></p>
	<% elsif feed_item.schedual.strftime('%Y%m%d').to_i == Time.now.strftime('%Y%m%d').to_i && feed_item.peoplecount <= feed_item.applicants.count %>
		<p style="color:red"><b>进行中!</b></p>
	<% else %>
		<p style="color:grey"><b>已过期</b></p>
	<% end %>
	
  </td>
  

	
	<% if @feed_items_color == 0 %>
		<td class="micropost" bgcolor="LightCyan">
	<% else %>
		<td class="micropost" bgcolor="AliceBlue">
	 <% end %>
	  
    <span class="timestamp">
      发起人：<%= link_to feed_item.user.name, feed_item.user %> &nbsp;Posted <%= time_ago_in_words(feed_item.created_at) %> ago. <br>活动日：<font color='red'><%= feed_item.schedual.strftime('%Y-%m-%d') %> </font> &nbsp; 最少<font color='red'><%= feed_item.peoplecount %></font>人报名才成行<br></span>
	<span class="content">&nbsp; &nbsp; <%= feed_item.content%></span>
	<span class="operation">
		<%= link_to "评论", feed_item %> <%= feed_item.comments.count %> | <%= link_to "报名", feed_item %>(<%= feed_item.applicants.count%>/<%= feed_item.peoplecount%>) | <%= link_to "修改", edit_micropost_path(feed_item) %>
	</span>
	测试时间和时区中...<br>计划时间：<%= feed_item.schedual %> <br>当前时间：<%= Time.now %>
  </td>
</tr>