
<% if signed_in? %>

<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">发起个新活动?</h1>
        <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>
			  
<table class="home" summary="home information">
  <tr>
    <td class="left">
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<div class="field">
			<%= f.label :"电子邮件 / Email" %><br />
			<%= f.text_field :email %>
			</div>
			<div class="field">
			<%= f.label :"密码 / password" %><br />
			<%= f.password_field :password %>
			</div>
			<div class="actions">
			<%= f.submit "登录 / Sign in" %>
			</div>
		<% end %>
    </td>
    <td class="right">
      <strong>还没有帐号吗？ Do not have an account?</strong><br /><br />
      <%= link_to "立即注册！ Sign up now!", signup_path, :class => "signup_button round" %>
    </td>
  </tr>
</table>

<% end %>