<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
	<table class="micropost" summary="detailed info">
		<tr><td class="titleinfo">
			发起人：<%= @micropost.user.name %>&nbsp; &nbsp; 活动日：<%= @micropost.schedual.strftime('%Y-%m-%d').to_s %>
		</td></tr>
		<tr><td class="mainpost">
			<%= @micropost.content %>
		</td></tr>
		<% unless @comments.empty? %>
			<tr><td class="maincomment">
				<br>所有评论：
				<table class="comments" summary="User comments">
					<%= render @comments %>
				</table>
			</td></tr>
		<% end %>
		<tr><td class="maincomment">
			<%= render 'shared/comment_form' %>
		</td></tr>
		<% unless @micropost.applicants.empty? %>
			<tr><td class="userin">
				参加者：
				<ul class="users">
					<% @micropost.applicants.each do |user| %>
					<li>
						<%= gravatar_for user, :size => 30 %> &nbsp; &nbsp;
						<%= link_to user.name, user %> &nbsp; &nbsp; <%= user.email %>
					</li>
					<% end %>
				</ul>
			</td></tr>
		<% end %>
		<tr><td class="userin">
		<%= render 'involve_form' %>
		</td></tr>
	</tr></table>  
	  
    </td>
    <td class="sidebar round">
		<strong>Name</strong> <%= @user.name %><br />
		<strong>URL</strong>  <%= link_to user_path(@user), @user %>
		<strong>Microposts</strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>
