<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'WebCalendar'%> 
  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("logo.png", :alt => "LEJU Logo", :class => "round") %>
        <nav class="round">
          <ul>
			  <% if signed_in? %>
			  <li><%= link_to "主页", home_path %></li>
			  <li><%= link_to "帮助", about_path %></li>
			  <li><%= link_to "用户", users_path %></li>
			  <li><%= link_to "设置", edit_user_path(current_user) %></li>
			  <li><%= link_to "退出", signout_path, :method => :delete %></li>
			  <% else %>
			  <li><%= link_to "主页", home_path %></li>
			  <li><%= link_to "什么是乐聚？", about_path %></li>
			  <% end %>
          </ul>
		  <ul>
		  <center><font color="SlateGray"><hr>网站试运行，任何问题，请联系Desan</font></center>
		  <center><font color=#09c>desanlee@gmail.com</font></center>
		  </ul>
        </nav>
      </header>
      <section class="round">
		<% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>
      </section>
      
      &nbsp

    </div>
  </body>
</html>
